<div *ngIf="hero" class="modal fade show in danger" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{hero.name}} details!</h2>
            </div>
            <div class="modal-body">
                <div><label>id: </label>{{hero.id}}</div>
                <div>
                    <label>name: </label>
                    <input [(ngModel)]="hero.name" placeholder="Hero Name"/>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="cancel()">Cancel</button>
                <button (click)="save()">OK</button>
            </div>
        </div>
    </div>
</div>
